.success {
  color: #32a214 !important;
}

#green-para {
  border-left: 12px solid rgba(0, 255, 0, 0.7);
  border-top: 12px solid rgba(0, 255, 0, 0.7);
  border-bottom: 12px solid rgba(0, 255, 0, 0.7);
  background-color: white;
}
.card-img {
  object-fit: cover;
  object-position: center;
  height: 350px;
  width: 170px;
}

@media (max-width: 760px) {
  .card-img {
    height: 450px;
    width: 200px;
  }
}
