#green-para {
  border-left: 12px solid rgba(0, 255, 0, 0.7);
  border-top: 12px solid rgba(0, 255, 0, 0.7);
  border-bottom: 12px solid rgba(0, 255, 0, 0.7);
  background-color: white;
}
.card-img {
  object-fit: cover;
  object-position: center;
  width: 120px;
}
.how-it-works {
  background: linear-gradient(to bottom, white 50%, rgb(43, 40, 40) 50%);
}
.nav-item a {
  font-size: 12px;
  font-weight: bold;
  margin-left: 12px;
}
.card-body p {
  margin-bottom: 5px;
}
.absolute-grid-1 {
  position: absolute;
  left: -390px;
  top: -170px;
  z-index: -1;
}
.absolute-ellipse-1 {
  position: absolute;
  bottom: -127px;
  right: -135px;
  z-index: -1;
}
.teacher-ellipse {
  position: absolute;
  bottom: -113px;
  left: -119px;
  z-index: -1;
}
.about-grid {
  position: absolute;
  bottom: 0;
  right: -100px;
  z-index: -1;
}
p {
  font-size: 14px;
}
@media (max-width: 500px) {
  p {
    font-size: 12px;
  }
}
footer a {
  text-decoration: none;
  color: #000;
}
footer p {
  font-weight: bold;
}

@media (max-width: 500px) {
  .card {
    padding: 10px !important;
  }
}
@media (max-width: 768px) {
  .flex-fix {
    flex-direction: column;
  }
  #green-para {
    margin-top: 10px;
  }
}
